<button mat-fab class="btn-agregarChat bg-naranja" (click)="ModalProduct()">
  <mat-icon>add</mat-icon>
</button>

<div *ngIf="products.length > 0; else noproducts" class="tarjeta">
  <mat-accordion *ngFor="let p of products" class="example-headers-align">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="tarjetaCabecera">
        <mat-panel-title>
          {{p.servicio}}
        </mat-panel-title>
        <mat-panel-description>
          Gestiona tu contrasena
          <mat-icon (click)="deleteProduct($event, p)">delete</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <li>
        Servicio | {{p.servicio}}
      </li> <br />
      <li>
        Usuario | {{p.usuario}}
      </li> <br />
      <li>
        Contrasena | {{p.password}}
      </li>
      <!-- <li>
        PIN | {{p.pin}}
      </li> -->
      
      <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="editProduct($event, p)">
          Editar
        </button>
        <button mat-raised-button color="warn" (click)="deleteProduct($event, p)">
          Eliminar
        </button>
        <!-- <button mat-raised-button color="accent" (click)="desencriptar('decrypt')">
          Desencriptar
        </button> -->
        <!--FORMULARIO PARA EDITAR-->
        <div *ngIf="editing && editingProduct.id == p.id" class="formEditar">
          <h2 mat-dialog-title>Editar Servicio</h2>
          <mat-dialog-content fxLayout="column">
            <form (ngSubmit)="updateProduct(product)">
              <mat-form-field class="example-full-width">
                <input matInput type="text" name="servicio" [(ngModel)]="editingProduct.servicio">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput type="text" name="usuario" [(ngModel)]="editingProduct.usuario">
              </mat-form-field>
              
              <mat-form-field class="example-full-width">
                <input matInput type="text" name="password" [(ngModel)]="editingProduct.password"
                  [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <mat-dialog-actions>
                <button mat-raised-button color="accent" type="submit" (click)= "ActualizarSnackBar('Servicio Actualizado', 'Descartar')" >Actualizar</button>
                <button mat-raised-button color="accent" type="submit" (click)= "ModalPin()" >Desencriptar</button>
              </mat-dialog-actions>
            </form>
          </mat-dialog-content>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<ng-template #noproducts>
  <p>Aun no hay Servicios</p>
</ng-template>