#salir {
    position: relative;
    left: 75%;
    color: azure;
}

#contenedor {
  margin-top: 2%;
  position: relative;
}

#btnAgregar {
  left: 10%;
  
}

#tarjeta {
  margin-top: 1%;
}

.btn-agregarChat{
    position: fixed;
    left:95%;
    right:0%;
    bottom:0%;
    top:88%;
    z-index: 2400;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

/* .tarjeta{
  min-width: 500px;
  max-width: 270px;
  width: 100%;
} */

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  margin-top: 10px;
}

.tarjetaCabecera{
  background-color: azure;
}

.btnActualizar{
  margin-bottom: 5px;
}