.btn-agregarChat{
    position: fixed;
    left:95%;
    right:0%;
    bottom:0%;
    top:88%;
    z-index: 2400;
}

.btn-agregarFB{
    position: fixed;
    left: 95%;
    right: 0%;
    bottom: 0%;
    top: 80%;
    z-index: 2400;
}

.btn-agregarGoogle{
    position: fixed;
    left: 95%;
    right: 0%;
    bottom: 0%;
    top: 72%;
    z-index: 2400;
}

.btn-agregarTwitter{
    position: fixed;
    left: 95%;
    right: 0%;
    bottom: 0%;
    top: 64%;
    z-index: 2400;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}
