<h2 mat-dialog-title>INSERTAR PIN </h2>
<mat-dialog-content fxLayout="column">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Texto a desencriptar" name="servicio" [(ngModel)]="product.password">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Ingrese el PIN para desencriptar" name="servicio" [(ngModel)]="product.pin">
        </mat-form-field>
        <div class="botones">
            <button class="btn btn-primary btn-sm btn-block" type="submit" (click)="desencriptar('decrypt')">Aceptar</button>
            
        </div>
    </form> 
    <mat-card class="card">{{desencriptado}}</mat-card> <br/>
    <button class="btn btn-danger btn-sm btn-block" type="submit" mat-dialog-close>Salir</button>
    
</mat-dialog-content>